$background: rgb(33, 37, 41);
$background-light: rgb(52, 58, 64);
$background-light-hover: rgb(52, 58, 64);
$button: 
$button-hover:
$text-main:
$text-secondary:
$text-extra:
$border:
$border-hover:
$highlight-active:
$highlight-inactive:
$highlight-indeterminate: