@import "src/styles/layouts";
@import "src/styles/utilities";

.special-character {
  @include flex-row;
  @include noselect;
  align-items: center;
  justify-content: center;
  background-color: rgba(70, 70, 70, 1);
  color: white;
  height: 10px;
  width: 10px;
  padding: 12px;
  cursor: pointer;
  &--inactive {
    background-color: rgba(70, 70, 70, 0.35);
    color: rgba(255, 255, 255, 0.35);
  }
  &:hover {
    border: 1px solid #eee;
    margin: -1px;
    color: rgba(255, 255, 255, 1);
  }
}
