@import "src/styles/layouts";
@import "src/styles/include-media";

.setting--length {
  @include flex-column;
  align-items: center;
  padding: 16px 12px;
  font-size: small;
  > div {
    width: 100%;
    @include flex-row;
    &:first-child {
      @include flex-row;
      align-items: center;
      > #length-display {
        margin-right: 6px;
        > label {
          margin-right: 6px;
        }
        > input {
          max-width: 50px;
          -moz-appearance: textfield;
          border: none;
          height: 20px;
          padding: 4px;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          margin-right: 10px;
        }
      }
      > #length-presets {
        @include flex-row;
        flex: 1;
        align-items: center;
        > label {
          margin-right: 6px;
        }
        > #preset-buttons {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-right: -4px;
          button {
            cursor: pointer;
            flex: 1 1 120px;
            margin: 2px 4px;
            padding: 8px;
            border: none;
            color: rgba(71, 71, 71, 1);
            background-color: #eeeeee;
            &:hover {
              color: rgba(71, 71, 71, 1);
              background-color: rgba(238, 238, 238, 0.8);
            }
            &.preset-button-active {
              background-color: rgba(71, 71, 71, 1);
              color: #eeeeee;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      @include flex-row;
      align-items: center;
      margin-top: 10px;
      > button {
        cursor: pointer;
        height: 32px;
        max-width: 48px;
        padding: 0px 15px;
        border: none;
        text-align: center;
        color: #474747;
        background-color: #b8b8b8;
        &:hover {
          background-color: #474747;
          color: white;
        }
      }
      > input {
        width: 100%;
        height: 30px;
        margin: 0;
        -webkit-appearance: none;
        background: transparent;
        &:focus {
          outline: none;
        }
        &::-webkit-slider-runnable-track,
        &::-moz-range-track {
          width: 100%;
          height: 32px;
          cursor: pointer;
          background: #eeeeee;
          border: none;
        }
        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
          border: none;
          height: 32px;
          width: 40px;
          background: #474747;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: 1px;
          border-radius: 0;
        }
        &::-ms-track {
          width: 100%;
          height: 32px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent;
        }
        &::-ms-fill-lower,
        &::-ms-fill-upper {
          background: #eeeeee;
          border: none;
        }
        &::-ms-thumb {
          border-radius: 0;
          margin-top: 1px;
          border: none;
          height: 32px;
          width: 40px;
          background: #474747;
          cursor: pointer;
        }
      }
    }
  }
}
