@import "src/styles/layouts";
@import "src/styles/include-media";
@import "src/styles/utilities";

#generator {
  @include flex-column;
  background-color: #353535;
  color: white;
  > div {
    &:first-child {
      padding: 20px 20px 0 20px;
    }
    &:nth-child(2) {
      padding: 0 20px 20px 20px;
    }
  }
}

@include media(">tablet") {
  #generator > div {
    flex: 1;
  }
}

.button-group {
  > button {
    float: left;
    height: 40px;
    border-right: none;
  }
}

#generate-password-button {
  width: 100%;
}
