@import "src/styles/utilities";

.password-container {
  #password-field {
    display: flex;
    > input {
      flex: 1;
    }
    > input,
    > button {
      padding: 10px;
      border: none;
    }
    > button {
      background-color: white;
      > svg {
        width: auto;
        height: 20px;
      }
      & hover {
        background-color: white;
      }
    }
  }
  > button {
    width: 100%;
    border: none;
  }
}
